.clickableRoom .background {
  position: fixed;
}

.clickableRoom .back {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 40px;
  color: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: block;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}

.clickableRoom .back:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 1);
  cursor: pointer;
}

.clickableRoom .interactive:hover {
  cursor: pointer;
}

.clickableRoom .dialogue {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 25px;
  color: white;
  position: fixed;
  display: block;
  text-align: center;
}
