html {
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (orientation: landscape) {
  .portrait {
    opacity: 0;
  }
  .landscape {
    opacity: 1;
  }
}

@media (orientation: portrait) {
  .landscape {
    position: fixed;
    opacity: 0;
  }
  .portrait {
    opacity: 1;
  }
}
